* {
  box-sizing: border-box; }

body {
  background-image: url("../images/bg-desktop.svg");
  background-color: #674baf;
  font-family: "Open Sans",monospace; }

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../icons/bg-mobile.svg"); } }

h2 {
  margin-left: 30px; }

button {
  border-radius: 40px;
  background-color: white;
  padding: 15px 10px;
  width: 150px;
  border: none;
  color: #6641aa;
  font-size: 15px; }

footer {
  width: 100%; }

.mockup {
  margin-left: 5%;
  width: 50%; }

.content {
  display: flex;
  margin-top: 5%; }

.heading {
  font-weight: 900; }

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .text {
    text-align: center; }
  .social {
    margin-right: 80px;
    margin-top: 100px; }
  .mockup {
    width: 80%; }
  .social {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.parent {
  width: 100%; }

.container {
  margin-left: 70px;
  display: flex;
  font-family: Poppins,monospace;
  color: white;
  font-size: 30px;
  width: 50%; }

.chat {
  width: 30px;
  margin-right: 10px; }

.text {
  width: 50%;
  color: white;
  margin: 30px 30px 0 30px; }

.social {
  float: right;
  margin-right: 80px;
  margin-top: 100px; }

.icon {
  margin-right: 20px; }

button {
  -webkit-box-shadow: 0px 5px 25px -10px #000;
  -moz-box-shadow: 0px 5px 25px -10px #000;
  box-shadow: 0px 5px 25px -10px #000; }
