@mixin box-shadow($x,$y,$b,$s,$c) {
    -webkit-box-shadow: $x $y $b $s $c;
    -moz-box-shadow: $x $y $b $s $c;
    box-shadow: $x $y $b $s $c;
}

button{
@include box-shadow(0px,5px,25px,-10px,#000)
}
